*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    background-color: rgb(211, 209, 209);
    text-align: center;
}

.box1{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    
}
.box2{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.box3{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.box4{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}
.label{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: rgb(211, 209, 209);
    height: 30px;
    width: 75px;
    border-color: rgb(194, 199, 199);
}
input{
    height: 30px;
}
